body {
	background:#EDEEF0;
	font-family: Open Sans;
	padding:0;margin:0;
	font-size:14px;
	overflow-y:scroll;
}

body > div#content {
	width:70%;
	margin:0 auto;
	margin-top:60px;
	position:relative;
	min-height:calc(100vh - 120px)
}

header {
	width:100%;
	height:50px;
	background:#354251;
	position:fixed;
	top:0px;
	z-index:5000;
}

header > nav {
	width:72%;
	margin:0 auto;
	text-align:right;
	overflow:hidden;
	height:50px;
}

header > nav > .logotype {
	line-height:50px;
	color:#fff;
	font-size:26px;
	font-weight:bold;
	text-decoration:none;
	float:left;
	border:none;
}

header > nav > .logotype:hover {
	background:none;
	color:#ab69c7
}

header > nav > .logotype .fa {
	font-weight: normal !important;
	margin-right: 10px;
}

header > nav > a {
	line-height:48px;
	font-size:16px;
	color:#fff;
	text-decoration:none;
	display:inline-block;
	padding:0 15px;
	transition:0.3s;
	height:53px;
	border-bottom:3px solid #2ecc71;
	box-sizing:border-box;
}

header > nav > a:hover {
	background:#474747;
	height:50px;
	transition:0.3s;
}

.table {
	text-decoration: none;
	border-collapse:collapse;
	width:100%;
	text-align:left;
}

.table th {
	font-weight:normal;
	font-size:19px;
	color:#ffffff;
	background-color:#354251;
}

.table td {
	font-size:15px;
	color:#354251;
}

.table td, .table th {
	white-space:pre-wrap;
	padding:10px 5px;
	line-height:15px;
	vertical-align: middle;
	border: 2px solid #0a2336;
}

.table tr:hover {
	background-color:#ab69c7
}

.table tr:hover td {
	color:#354251;
	cursor:pointer;
}

.tableTime {
	text-decoration: none;
	width:100%;
	text-align:left;
}

.tableTimeFree, .tableTimeBusy, .tableTimeDisabled, .tableTimeChoice {
	font-weight:normal;
	font-size:14px;
	white-space:pre-wrap;
	padding:10px 5px;
	line-height:15px;
	vertical-align: middle;
	border: 2px solid #0a2336;
	border-radius: 10px;
}

.tableTimeBusy {
	color: #0a2336;
}

.tableTimeBusy {
	color: #ffffff;
	background: #0a2336;
}

.tableTimeDisabled {
	color: #ffffff;
	background: #354251;
}

.tableTimeFree:hover, .tableTimeChoice {
	background-color:#ab69c7;
	cursor:pointer;
}

.text {
	width: 250px;
}

.btn {
	text-align:center;
	border-radius:2px;
	display:inline-block;
	cursor:pointer;
	text-decoration:none;
	border:none;
	transition:0.2s;
	box-sizing:border-box;
	color:#fff;
	background-color:#0a2336;
	margin: 3px;
	padding: 0px 15px;
	font-size: 16px;
	line-height: 42px;
	width: 30%;
}

.btn:hover {
	background-color:#ab69c7;
}

.btn:focus {
	outline: none !important;
}

.choiceDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}

.choiceDialog:target {
	display: block;
	pointer-events: auto;
}

.choiceDialog > div {
	display: block;
	width: 700px;
	position: relative;
	margin: 5% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #EDEEF0;
	min-height:650px;
}

.choiceDialog div.choiceDialogData {
	position:absolute;
	left: 2%;
}

.choiceDialog div.choiceDialogTime {
	position:absolute;
	left: 50%;
}

.choiceDialog div.btn {
	position:absolute;
	left: 15%;
	top: 85%;
	width: 500px;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover {
	background-color:#ab69c7
}
